<!DOCTYPE html>
<html>
    <head>
        <div id="top">
        <title>Forensic Database Unassigned Cases</title>
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
	<!--		<link rel="stylesheet" href="style.css">-->
	<!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->
    	    <img src="badge.png" alt="badge" align="right" width= "10%">
        	<br>
        	<br>
    </head>
    <body>
        <center>
        <h1>{{ headline }}</h1>
       	 <h2>Forensic Database</h2>
        	<h3><u>Unassigned Cases</u></h3>
        	Main | 
        	<a href="{{ url_for('entry') }}">Database Entry</a> |
        	<a href="{{ url_for('query') }}">Query Database</a> <br>
        	<br><hr>
        	</center>
        </div>
        <center>
        	<table style="width:50%">
        		<tr>
        			<th>Case Number</th>
        			<th>Date Requested</th>
        			<th>Description</th>
        		</tr>
        		<tr>
					{% for name in result %}
                        <td>{{ name }}</td>
        			{% endfor %}
        		</tr>
			</table>
		</center>

        <br><br>
        
   </body>
</html>





















































