<!DOCTYPE html>
<html>
    <head>
        <title>Forensic Database Unassigned Cases</title>
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
	    <img src="/static/bannerO.png" alt="banner" align="right" width= "100%">
        	<br>
			<br>
	<header>
        <center>
        	<h2><u>Unassigned Cases</u></h2>
	<nav>
        	Main | 
        	<a href="{{ url_for('entry') }}">Database Entry</a> |
        	<a href="{{ url_for('query') }}">Query Database</a> <br>
        	<br><hr>
        	</center>
        <center>
        	<table style="width:50%">
        		<tr>
        			<th align="left">Case Number</th>
        			<th align="left">Date Requested</th>
        			<th align="left">Description</th>
        		</tr>
        		<tr>
					{% for name in result %}
                        <td>{{ name }}</td>
        			{% endfor %}
        		</tr>
			</table>
		</center>

        <br><br>
        
   </body>
</html>





















































