<!DOCTYPE html>
<html>
    <head>
        <title id="title">Forensic Database Unassigned Cases</title>
        	<meta name="viewport" content="width-device-width, initial-scale-1.0">
			<link rel="stylesheet" href="/static/style.css">
    </head>
    <header>
	    <img src="/static/bannerO.png" alt="banner" align="right" width= "100%">
        	<br><br>
        <center>
            <h3><u>
                {% block heading %}
                {% endblock %}
            </u></h3>
        </center>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>





















































