<!DOCTYPE html>
<html>
    <head>
        <div id="top">
        <title>Forensic Database Query</title>
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
		<link rel="stylesheet" href="/static/style.css">
        <img src="/static/bannerO.png" alt="banner" align="right" width= "100%">
        <br>
        <br>
    </head>
    <body>
        <center>
        <h2><u>Query Database</u></h2>
        <a href="{{ url_for('index') }}">Main</a> |
		<a href="{{ url_for('entry') }}">Database Entry</a>
         | Query Database
		</center>
         </div>
			<br>
			<hr>
		<center>
		<h2 id="index"></h2>
		<a href="#unassigned">Unassigned Cases</a> &nbsp;|&nbsp;  
		<a href="#drives_by_case">Evidence Drives by Case</a>  &nbsp;|&nbsp;  
		<a href="#cases_on_drive">Cases on Evidence Drive</a>  &nbsp;|&nbsp; 
		<a href="#case_by_year">Cases by Year</a> <br>
		<a href="#inv_case_year">Investigator Cases by Year</a> &nbsp;| &nbsp;
		<a href="#open_cases_inv">Open Cases by Investigator</a> &nbsp;| &nbsp;
		<a href="#dispo">Evidence Disposition by Case</a> &nbsp; |&nbsp;
		<a href="#icac">ICAC Cases by Year</a>

        </center>

		<br>
		<h2 id="unassigned">Unassigned Cases (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>
		<h2 id="drives_by_case">Evidence Drives by Case (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>
		<h2 id="cases_on_drive">Cases on Evidence Drive (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>
		<h2 id="case_by_year">Cases by Year (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>
		<h2 id="inv_case_year">Investigator Cases by Year (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>
		<h2 id="open_cases_inv">Open Cases by Investigator (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>
		<h2 id="dispo">Evidence Disposition by Case (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>
		<h2 id="icac">ICAC Cases by Year (<a href="#index"><font size="4">Index</font></a>)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet
				bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
				Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit
				scelerisque in. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sagittis orci a
				scelerisque purus semper eget duis. Nulla pharetra diam sit amet nisl suscipit. Sed adipiscing diam donec
				adipiscing tristique risus nec feugiat in. Fusce ut placerat orci nulla. Pharetra vel turpis nunc eget
				lorem dolor. Tristique senectus et netus et malesuada.

				Etiam tempor orci eu lobortis elementum nibh tellus molestie. Neque egestas congue quisque egestas.
				Egestas integer eget aliquet nibh praesent tristique. Vulputate mi sit amet mauris. Sodales neque sodales
				ut etiam sit. Dignissim suspendisse in est ante in. Volutpat commodo sed egestas egestas. Felis donec et
				odio pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed viverra. Porta nibh venenatis cras
				sed felis eget. Aliquam ultrices sagittis orci a. Dignissim diam quis enim lobortis. Aliquet porttitor
				lacus luctus accumsan. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
			</p>

			<div>
			</form>
   </body>
</html>























