<!DOCTYPE html>
<html>
    <head>
    	<div id="top">
    		<title>Forensic Database Entry</title>
    		<meta name="viewport" content="width-device-width, initial-scale-1.0">
    			<br><br>
    	</div>
    </head>
    <body>
	    <h1>Eagan Police Department</h1>
	    <br>
	    <center>
	   		<h2>Forensic Database</h2>
	    		<h3><u>Database Entry</u></h3>
	    		<a href="/index">Main</a> | 
	    		Database Entry | 
	    		<a href="/query">Query Database</a>
	    		<br><br>
	    </div>
	    </center>
	    <br></br>
	    
    </body>
</html>




















































