<!DOCTYPE html>
<html>
    <head>
        <title>Forensic Database Entry</title>
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
    	    <img src="badge.png" alt="badge" align="right" width= "10%">
        	<br>
        	<br>
    </head>
    <body>
        <h1>Eagan Police Department</h1>
        <br>
        <center>
       	 <h2>Forensic Database</h2>
        	<h3><u>Unassigned Cases</u></h3>
        	Main |
        	<a href="entry.html">Database Entry</a> |
        	<a href="query.html">Query Database</a> <br>
        	<br><hr>
        	<table style="width:50%">
        		<tr>
        			<th>Case Number</th>
        			<th>Date Requested</th>
        			<th>Description</th>
        		</tr>
				{% for name in result %}
        		<tr>
					<td>{{ name[0] }}</td>
					<td>{{ name[1] }}</td>
					<td>{{ name[2] }}</td>
				{% endfor %}
        		</tr>
			</table>
		</center>

        <br><br>

   </body>
</html>





















































